/* Sfondo del corpo */
body {
    text-align: center;
    background-color: #010E1B;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif; /* Utilizzo il font Arial come esempio */
  }
  
  /* Rimuovi il testo predefinito dei link */
  a {
    text-decoration: none;
    color: #11C63D;
  }
  
/* Stilizza i pulsanti */
.button {
  display: inline-block;
  width: 500px; /* Imposta una larghezza fissa per tutti i pulsanti */
  padding: 70px; /* Imposta un padding uniforme per mantenere la dimensione del testo */
  background-color: #1B2732;
  color: #11C63D;
  border: none;
  border-radius: 10px;
  margin: 10px;
  transition: background-color 0.3s;
}
  
.button:hover {
  background-color: #193b51; /* Cambia colore al passaggio del mouse */
}
  
/* Stilizza il testo principale nel pulsante */
.main-text {
  font-size: 40px;
  display: block;
  margin-bottom: 5px; /* Riduci lo spazio tra il testo principale e quello aggiuntivo */
  line-height: 1.5; /* Aggiungi spazio tra le righe per una migliore leggibilità */
}
/* Stilizza il testo aggiuntivo nel pulsante */
/* Stilizza il testo aggiuntivo nel pulsante */
.additional-text {
  font-size: 21px;
  line-height: 1.5; /* Aggiungi spazio tra le righe per una migliore leggibilità */
}
/* Aggiungi stile per i pulsanti superiori e inferiori */
.upper-buttons,
.lower-buttons {
  display: flex;
  justify-content: center;
}

/* Stile per ciascun gruppo di pulsanti */
.upper-buttons .button,
.lower-buttons .button {
  margin: 10px;
}

/* Posiziona il contenuto al centro della pagina */
.center {
  display: flex;
  flex-direction: column; /* Modifica la direzione della colonna */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

u {
  text-decoration: underline;
}
/* Stilizza l'informazione dello sviluppatore */
.developer-info {
  margin-bottom: 20px;
  color: #ffffff; /* Colore del testo bianco */
  font-size: 18px;
}

.developer-info p {
  margin: 0;
}
